[submodule "my_plugins/dracula-theme"]
	path = my_plugins/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "my_plugins/nerdtree-git-plugin"]
	path = my_plugins/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "my_plugins/emmet-vim"]
	path = my_plugins/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "my_plugins/vim-gitgutter"]
	path = my_plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "my_plugins/jellybeans"]
	path = my_plugins/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "my_plugins/vim-one"]
	path = my_plugins/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "my_plugins/vim-todo-lists"]
	path = my_plugins/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists.git
[submodule "my_plugins/vim-javascript"]
	path = my_plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "my_plugins/tsuquyomi"]
	path = my_plugins/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "my_plugins/typescript-vim"]
	path = my_plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "my_plugins/vim-prettier"]
	path = my_plugins/vim-prettier
	url = https://github.com/prettier/vim-prettier
